
.datePicker{
    width: 100%;
    padding: 6px 0 17px;
    font: inherit;
    align-content: center;
}

.form_add{
    padding: 20px;
    display: flex;
}

.add_item{
    flex: 2;
    flex-direction: row;
    justify-content: center;
}

.add_item_small{
    flex: 1;
    flex-direction: row;
    justify-content: center;
}